.react-dialog {
  --react-dialog-z-index: 100;
  --react-dialog-centered-y: 37.5%;
  --react-dialog-backdrop-z-index: 99;

  z-index: var(--react-dialog-z-index);
  top: var(--react-dialog-centered-y);
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;


  [hidden] {
    display: none;
  }

  // data-fixed="true" means the dialog will be fixed to the top of the screen
  &[data-fixed="true"] {
    position: fixed;
  }

  &[data-fixed="false"] {
    position: absolute;
  }

  // ----- visible and hidden animations for dialog and backdrop start -----
  &[data-visible="true"] {
    animation: show-dialog 0.3s;
  }

  &[data-visible="false"] {
    animation: hide-dialog 0.3s;
  }

  // ----- visible and hidden animations for dialog and backdrop end -----

  // Keyframes for animations
  @keyframes show-dialog {
    from {
      opacity: 0;
      top: 32%;
    }

    to {
      opacity: 1;
      top: 37.5%;
    }
  }

  @keyframes hide-dialog {
    to {
      opacity: 0;
      top: 32%;
    }
  }
}
