.react-dialog {
  z-index: 100;
  left: 50%;
  top: 37.5%;
  transform: translate(-50%, -50%);
  margin: 0;


  [hidden] {
    display: none;
  }

  // data-fixed="true" means the dialog will be fixed to the top of the screen
  &[data-fixed="true"] {
    position: fixed;
  }

  &[data-fixed="false"] {
    position: absolute;
  }

  // ----- visible and hidden animations for dialog and backdrop start -----
  &[data-visible="true"] {
    animation: show-dialog 0.3s;
  }

  &[data-visible="false"] {
    animation: hide-dialog 0.3s;
  }


  &__backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    z-index: 99;

    &[data-visible="true"] {
      animation: show-backdrop 0.3s;
    }

    &[data-visible="false"] {
      animation: hide-backdrop 0.3s;
    }
  }

  // ----- visible and hidden animations for dialog and backdrop end -----

  // Keyframes for animations
  @keyframes show-dialog {
    from {
      opacity: 0;
      top: 32%;
    }

    to {
      opacity: 1;
      top: 37.5%;
    }
  }

  @keyframes hide-dialog {
    to {
      opacity: 0;
      top: 32%;
    }
  }

  @keyframes show-backdrop {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes hide-backdrop {
    to {
      opacity: 0;
    }
  }
}
